html {
  scroll-behavior: smooth;
}

.about-us-container {
  padding: 40px 20px;
  color: #150020d0;
  font-family: 'Poppins', sans-serif;
  line-height: 1.8;
}

.about-section h2,
.contact-section h2 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 20px;
  color: #5c0696;
  font-weight: 700;
}

.about-section h3,
.contact-section h3 {
  font-size: 1.8rem;
  margin-bottom: 15px;
  color: #6b7280;
}

.intro {
  text-align: center;
  margin: 0 auto;
  max-width: 800px;
  font-size: 1.2rem;
  color: #4b5563;
}

.mission-container {
  background-color: #ffffff;
  padding: 20px;
  margin: 30px auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  max-width: 800px;
}


.team {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 30px;
}

.team-member {
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding: 20px;
  flex: 1 1 calc(33.333% - 20px);
  text-align: center;
  max-width: 300px;
}

.team-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 15px;
}

.team-member h4 {
  margin: 10px 0;
  font-size: 1.2rem;
  color: #111827;
}

.team-member p {
  font-size: 0.9rem;
  color: black;
}

.start-using-btn {
  background-color: #5c0696;
  color: #ffffff;
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.start-using-btn:hover {
  background-color: #c084fc; 
}

.contact-section {
  margin-top: 50px;
  padding: 30px;
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}

.contact-details {
  margin: 20px 0;
}

.contact-details p {
  margin: 5px 0;
  font-size: 1.1rem;
  color: #4b5563;
}

.contact-section strong {
  color: #560c88;
}
.contact-details {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.contact-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.contact-item i {
  font-size: 2rem;
  margin-right: 10px;
}

.contact-item div h4 {
  font-size: 1.2rem;
  margin: 0;
}

.contact-item div p {
  font-size: 1rem;
  margin: 0;
  color: #110404;
}

.statistics-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.stat-item {
  display: flex;
  align-items: center;
  text-align: center;
}

.stat-item i {
  font-size: 2rem;
  margin-right: 10px;
}

.stat-item div h4 {
  font-size: 1.5rem;
  font-weight: bold;
}

.stat-item div p {
  color: #110303fb;
}

.footer {
  text-align: center;
  padding: 20px;
  background-color: #480883be;
  color: #ffffff;
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 20px; 
  margin-bottom: 10px;
}

.footer-links a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: #5d2397; 
}
